* {
    font-family: Georgia;
}

body {
    margin: 0 0;
    padding: 0 0;
}

nav {
    background-color: rgb(93, 54, 54);
    padding: 10px 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    color: white;
}